<div class="main">

    <!--  alert success   -->
    <div *ngIf="alertSuccessUpdate" class="alert alert-success">
        <div class="material-icons">done</div>
        <b>SUCCESS - </b> Le patient {{this.selectedPatient.nom}} a bien été modifié !

        <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i
                class="material-icons">clear</i></button>
    </div>

    <!-- alert fail -->
    <div *ngIf="alertFailUpdate" class="alert alert-danger">
        <div class="material-icons">error_outline</div>
        <b>FAIL - </b> Le patient n'a pas été modifié !
        <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i
                class="material-icons">clear</i></button>
    </div>

    <!-- Ajouter alert pour delete (success et fail) -->
    <!--  alert success   -->
    <div *ngIf="alertSuccessDelete" class="alert alert-success">
        <div class="material-icons">done</div>
        <b>SUCCESS - </b> Le patient a bien été supprimé !

        <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i
                class="material-icons">clear</i></button>
    </div>

    <!-- alert fail -->
    <div *ngIf="alertFailDelete" class="alert alert-danger">
        <div class="material-icons">error_outline</div>
        <b>FAIL - </b> Le patient n'a pas été supprimé !
        <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i
                class="material-icons">clear</i></button>
    </div>


    <!-- Liste des patients-->
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Numéro de sécurité sociale</th>
            <th>Identifiant</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let e of this.listePatients">
                <td>{{e.idPatient}}</td>
                <td>{{e.nom}}</td>
                <td>{{e.prenom}}</td>
                <td>{{e.numSecu}}</td>
                <td>{{e.identifiant}}</td>
                <td>
                    <button class="btn btn-info" (click)="this.assignedPatient(e)" data-toggle="modal"
                        data-target="#modifPatient">Modifier</button>
                    <button class="btn btn-danger" (click)="this.deleteById(e.idPatient)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal de modification patient -->
<div class="modal" id="modifPatient">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modification patient</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h6> Nom</h6>
                <input class="form-control" type="text" placeholder="Nom ici .."
                    [(ngModel)]="this.selectedPatient.nom">
                <br>
                <h6>Prénom</h6>
                <input class="form-control" type="text" placeholder=" Prénom ici .."
                    [(ngModel)]="this.selectedPatient.prenom">
                <br>
                <h6>Adresse</h6>
                <input class="form-control" type="text" placeholder="Adresse ici .."
                    [(ngModel)]="this.selectedPatient.adresse">
                <br>
                <h6>Numéro de sécuritué sociale</h6>
                <input class="form-control" type="text" placeholder="Numéro de sécuritué social ici .."
                    [(ngModel)]="this.selectedPatient.numSecu">
                <br>
                <h6>Identifiant</h6>
                <input class="form-control" type="text" placeholder="Identifiant de connexion ici .."
                    [(ngModel)]="this.selectedPatient.identifiant">
                <br>
                <h6>Mot de passe</h6>
                <input class="form-control" type="text" placeholder="Mot de passe ici .."
                    [(ngModel)]="this.selectedPatient.motDePasse">


            </div>

            <!-- Modal Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-link" (click)="this.update()">Modifier</button>
            </div>

        </div>
    </div>
</div>