<div class="section">
    <div class="container">
        <div class="main">
            <div class="login_from">

                <div >
                    <h2>Bienvenue sur votre site de gestion médicale !</h2>
                </div>
                <br><br>

                <div class="col-md-6">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="javascript:void(0)">
                                <img class="img" src="./assets/img/faces/marc.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                          
                                <h4 class="card-title">Connexion</h4>
                                <button class="btn btn-round"
                                    (click)="showFormPatient = !showFormPatient ;showFormMedecin = false">Patient
                                    ?</button>
                                <button class="btn btn-round"
                                    (click)="showFormMedecin = !showFormMedecin ; showFormPatient = false">Medecin
                                    ?</button>
                                <br><br>

                                <div *ngIf="showFormPatient">
                                    <label class="title">Patient</label>
                                    <hr>
                                    <label> Identifiant </label>
                                    <input type="text" class="form-control" [(ngModel)]="this.patient.identifiant"
                                        placeholder="Votre identifiant ici .." required>

                                    <label> Mot de passe </label>
                                    <input type="password" class="form-control" [(ngModel)]="this.patient.motDePasse"
                                        placeholder="Votre mot de passe ici .." required>
                                    <button type="button" class="btn btn-primary btn-round"
                                        (click)="this.connectPatient()">Se
                                        connecter</button>
                                </div>
                                <div *ngIf="showFormMedecin">

                                    <label class="title">Medecin</label>
                                    <hr>
                                    <label> Identifiant </label>
                                    <input type="text" class="form-control" [(ngModel)]="this.medecin.identifiant"
                                        placeholder="Votre identifiant ici .." required>

                                    <label> Mot de passe </label>
                                    <input type="password" class="form-control" [(ngModel)]="this.medecin.motDePasse"
                                        placeholder="Votre mot de passe ici .." required>
                                    <button type="button" class="btn btn-primary btn-round"
                                        (click)="this.connectMedecin()">Se
                                        connecter</button>
                                </div>
                           
                                <a [routerLink]="['/patient-home']" class="btn btn-default btn-round">  Go to Patient</a>
                                <a [routerLink]="['/medecin-home']" class="btn btn-default btn-round">  Go to Medecin</a>
                                
                                <a [routerLink]="['/admin-home']" class="btn btn-default btn-round">  Go to admin</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>