<div class="main">

<!--  alert success   -->
<div *ngIf="alertSuccess"  class="alert alert-success" >
    <div class="material-icons">done</div>
    <b>SUCCESS - </b> Le medecin {{this.freshmedecin.nom}} a bien été ajouté !
    
    <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i class="material-icons">clear</i></button>
</div>   

<!-- alert fail -->
<div *ngIf="alertFail" class="alert alert-danger">
    <div class="material-icons">error_outline</div>
    <b>FAIL - </b> Le patient n'a pas été ajouté !
    <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i class="material-icons">clear</i></button>
</div>

    <h6> Nom</h6>
    <input class="form-control" type="text" placeholder="Votre nom ici .." [(ngModel)]="this.newMedecin.nom">
<br>
    <h6>Prénom</h6>
    <input class="form-control" type="text" placeholder=" Votre prénom ici .." [(ngModel)]="this.newMedecin.prenom">
    <br>
    <h6>Adresse du cabinet</h6>
    <input class="form-control" type="text" placeholder="Votre adresse ici .."
        [(ngModel)]="this.newMedecin.adresseCabinet">
        <br>
    <h6>Spécialité</h6>
    <input class="form-control" type="text" placeholder="Votre spécialité ici .."
        [(ngModel)]="this.newMedecin.specialite">
        <br>
    <h6>Identifiant</h6>
    <input class="form-control" type="text" placeholder="Votre identifiant de connexion ici .."
        [(ngModel)]="this.newMedecin.identifiant">
        <br>
    <h6>Mot de passe</h6>
    <input class="form-control" type="text" placeholder="Votre mot de passe ici .."
        [(ngModel)]="this.newMedecin.motDePasse">

        <button type="button" (click)="this.create()" class="btn btn-info">Valider</button>

</div>