<div class="container">

    <div>
        <h1> Liste des medecin
            <button (click)="this.show_liste = !this.show_liste" class="btn btn-warning">Show</button> </h1>
        <div *ngIf="show_liste">
            <app-liste-medecin></app-liste-medecin>
        </div>
    </div>

    <br><br>
    <div>
        <h1> Ajout de medecin
            <button (click)="this.show_add = !this.show_add" class="btn btn-warning">Show</button> </h1>
        <div *ngIf="show_add">
            <app-add-medecin></app-add-medecin>
        </div>
    </div>

    <br><br>
    <div>
        <h1> Recherche de medecin
            <button (click)="this.show_rech = !this.show_rech" class="btn btn-warning">Show</button> </h1>
        <div *ngIf="this.show_rech">

            <!-- Choisir son medecin par spécialite-->
            <div>
                <div class="row">
                    <!-- recherche par specialite -->
                    <div class="col-md-6">
                        <h4> Specialite </h4>
                        <input type="text" placeholder="Spécialité du medecin ici .."
                            [(ngModel)]="this.specialiteMedecin">
                        <button type="button" (click)="this.findMedecinBySpecialite()" class="btn"> Rechercher</button>
                    </div>

                    <div clas="col-md-6">
                        <!-- recherche par non -->
                        <h4> Nom du medecin </h4>
                        <input type="text" placeholder="Nom du medecin ici .." [(ngModel)]="this.nomMedecin">
                        <button type="button" (click)="this.findMedecinByNom()" class="btn"> Rechercher</button>
                    </div>
                </div>

                <!-- liste de medecin corresponant à specialite-->
                <div *ngIf="this.showRechBySpec">

                    <table class="table">
                        <thead>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Adresse du cabinet</th>
                            <th>Specialite</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of this.listeMedecinBySpecialite">
                                <td>{{e.idMedecin}}</td>
                                <td>{{e.nom}}</td>
                                <td>{{e.prenom}}</td>
                                <td>{{e.adresseCabinet}}</td>
                                <td>{{e.specialite}}</td>
                                <td>
                                    <button class="btn btn-info" (click)="this.assignMedecin(e)" data-toggle="modal"
                                        data-target="#modifMedecin2">Modifier</button>
                                    <button class="btn btn-danger" (click)="this.deleteById2(e.idMedecin)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <!-- Liste de medecin correspond au nom-->
                <div *ngIf="this.showRechByNom">
                    <table class="table">
                        <thead>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Adresse du cabinet</th>
                            <th>Specialite</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of this.listeMedecinByNom">
                                <td>{{e.idMedecin}}</td>
                                <td>{{e.nom}}</td>
                                <td>{{e.prenom}}</td>
                                <td>{{e.adresseCabinet}}</td>
                                <td>{{e.specialite}}</td>
                                <td>
                                    <button class="btn btn-info" (click)="this.assignMedecin(e)" data-toggle="modal"
                                        data-target="#modifMedecin2">Modifier</button>
                                    <button class="btn btn-danger" (click)="this.deleteById2(e.idMedecin)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>



                <!-- Modal de modification patient -->
                <div class="modal" id="modifMedecin2">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modification medecin</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- modification id formule ?-->
                            <!-- Modal body -->
                            <div class="modal-body">
                                <h6> Nom</h6>
                                <input class="form-control" type="text" placeholder="Nom ici .."
                                    [(ngModel)]="this.chosenMedecin.nom">
                                <br>
                                <h6>Prénom</h6>
                                <input class="form-control" type="text" placeholder=" Prénom ici .."
                                    [(ngModel)]="this.chosenMedecin.prenom">
                                <br>
                                <h6>Adresse du cabinet</h6>
                                <input class="form-control" type="text" placeholder="Adresse ici .."
                                    [(ngModel)]="this.chosenMedecin.adresseCabinet">
                                <br>
                                <h6>Spécialité</h6>
                                <input class="form-control" type="text" placeholder="Spécialité ici .."
                                    [(ngModel)]="this.chosenMedecin.specialite">
                                <br>
                                <h6>Identifiant</h6>
                                <input class="form-control" type="text" placeholder="Identifiant de connexion ici .."
                                    [(ngModel)]="this.chosenMedecin.identifiant">
                                <br>
                                <h6>Mot de passe</h6>
                                <input class="form-control" type="text" placeholder="Mt de passe ici .."
                                    [(ngModel)]="this.chosenMedecin.motDePasse">


                            </div>

                            <!-- Modal Footer-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-link"
                                    (click)="this.update2()">Modifier</button>
                            </div>

                        </div>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>