

<!--  alert success   -->
<div *ngIf="alertSuccess"  class="alert alert-success" >
    <div class="material-icons">done</div>
    <b>SUCCESS - </b> Le questionnaire a bien été ajouté !
    
    <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i class="material-icons">clear</i></button>
</div>   

<!-- alert fail -->
<div *ngIf="alertFail" class="alert alert-danger">
    <div class="material-icons">error_outline</div>
    <b>FAIL - </b> Le questionnaire n'a pas été ajouté !
    <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i class="material-icons">clear</i></button>
</div>


<!-- div de creation questionnaire-->
<div>
    <!-- <label> Nom du questionnaire &nbsp; &nbsp; </label>  -->
    <input type="text" [(ngModel)]="newQuestionnaire.nomQuestionnaire" placeholder="Nom du questionnaire" class="form-control">
    <br>
    <div *ngFor="let e of this.questions" class="form-field">
        <div >
            <h6>   <b> Question : </b> </h6>
            <input type="text" placeholder="Votre question ici .." [(ngModel)]="e.question" class="form-control">
            <br>
        </div>
    </div>
</div>



<button (click)="this.increaseQuestionnaire()" class="btn btn-default">Ajouter une question</button>
<br><br>
<!-- valider et mapper l'ensemble des Questions/Reponse dans le Questionnaire-->
<button (click)="this.create()" class="btn btn-info">Créer le questionnaire</button>