<div class="container">

    <label>Nom </label>
                <input class="form-control" type="text" placeholder="Votre nom ici .." [ngModel]="this.currentPatient.nom">
                <label>Prénom </label>
                <input class="form-control" type="text" placeholder=" Votre prénom ici .." [ngModel]="this.currentPatient.prenom">
                <label>Adresse </label>
                <input class="form-control" type="text" placeholder="Votre adresse ici .." [ngModel]="this.currentPatient.adresse">
                <label>Numéro de sécuritué sociale </label>
                <input class="form-control" type="text" placeholder="Votre numéro de sécuritué social ici .."
                    [ngModel]="this.currentPatient.numSecu">
                <label>Identifiant </label>
                <input class="form-control" type="text" placeholder="Votre identifiant de connexion ici .."
                    [ngModel]="this.currentPatient.identifiant">
                <label>Mot de passe </label>
                <input class="form-control" type="text" placeholder="Votre mot de passe ici .."
                    [ngModel]="this.currentPatient.motDePasse">
</div>