<!--liste de tous les questionnaires dispo-->
<div>
    <h1>Questionnaires disponible</h1>

<!--  alert success   -->
<div *ngIf="alertSuccess"  class="alert alert-success" >
    <div class="material-icons">done</div>
    <b>SUCCESS - </b> Le questionnaire a bien été envoyé!
    
    <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i class="material-icons">clear</i></button>
</div>   

<!-- alert fail -->
<div *ngIf="alertFail" class="alert alert-danger">
    <div class="material-icons">error_outline</div>
    <b>FAIL - </b> Le questionnaire n'a pas été envoyé !
    <button data-dismiss="alert" class="mat-focus-indicator close mat-button mat-button-base"><i class="material-icons">clear</i></button>
</div>


    <div *ngFor="let e of this.allQuestionnaires" class="display_liste_quest">
        <button (click)="this.selectQuestionnaire(e)" data-toggle="modal"
            data-target="#remplirQuestionnaire" class="btn btn-default">{{e.nomQuestionnaire}}</button>
    </div>
</div>

<!-- modal questionnaire-->
<div class="modal" id="remplirQuestionnaire">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Remplir questionnaire</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div *ngFor="let e of this.selectedQuestionnaire.listeQuestions">
                    <div>
                        <h6><b> {{e.question}}</b></h6>
                        <input type="text" placeholder="Votre réponse ici .." [(ngModel)]="e.reponse" class="form-control">
                        <br>
                    </div>
                </div>
            </div>

            <!-- Modal Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-link" (click)="this.remplirQuestionnaire()">Envoyer le
                    questionnaire</button>
            </div>
        </div>
    </div>
</div>